.qembedlink {
  float: right;
  margin-top: 25px;
  background: url("./images/copysafebutton.png") no-repeat scroll 0 74% transparent;
  float: right;
  margin-top: 25px;
  padding-left: 18px;
}
#edit-image-upload-button {
  display: none;
}
