A {
  FONT-SIZE: 10pt;
  color: #3366cc;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  TEXT-DECORATION: none;
}

A:hover {
  FONT-SIZE: 10pt;
  COLOR: ff0000;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  TEXT-DECORATION: underline;
}

.lgText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #484848;
}

.text {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #484848;
}

.smText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #484848;
}

.textGray {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #999999;
}

.smTextGray {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #999999;
}

.textBold {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}
